.Experience{
    min-height: fit-content;
    min-height: 70vh;
    /* background-color: rgb(204, 225, 252); */
    background-image: radial-gradient( circle farthest-corner at -0.1% 1.8%,  rgba(255,184,129,0.34) 0%, rgba(255,77,77,0.7) 100.2%);
    
    border-radius: 1em;
    overflow: hidden;
    margin: 2vh 0 0 0;
    padding-bottom: 5vh;
}

.Experience-title{
    background-color: rgba(231, 162, 130, 0.164);
    padding: 0.1em 1em;
    border-radius: 1.4em;
    /* filter:blur(1px); */
    width: fit-content;
    margin: 0 auto;
}

.Experiences{
    display: flex;
    flex-direction: column;
}

/* .Experience-item{
    display: flex;
    flex-direction: row;
} */

tr{
    text-align: left;
}
.Experience-table{
    width: 40vw;
    margin: auto;
    margin-top: 5vh;
}

.Company-name{
    font-size: 1.2em;
    font-weight: bold;
    width: 15vw;
}
.Company-logo{
    width: 10vw;
    /* padding-top: 10px; */
    align-items: baseline;
}

.job-role{
    font-size: 1.2em;
    font-weight: bold;
    padding:1em 0 0.2em 0.5em;
}

.Worked-years{
color: slategrey;
}

.job-description{
    color: rgb(214, 214, 214); 
    /* background-color: rgb(255, 255, 255); */
    /* background: linear-gradient(-200deg, #94c3e0,#32a6ee, #32a6ee,#fff3f3); */
    /* background-image: radial-gradient( circle farthest-corner at 53.9% 53.1%,  rgba(250,98,95,1) 0%, rgba(150,60,58,1) 100.2% ); */
    /* background-image: radial-gradient( circle farthest-corner at 5.7% 14.9%,  rgba(239,229,171,1) 0%, rgba(127,199,178,1) 48.7% ); */
    /* backdrop-filter: saturate(180%) blur(10px); */
    background-color: rgba(0, 0, 0, 0.425);
    padding: 1.2em 1em;
    border-radius: 1em;
    font-size: 1.2em;
    box-shadow: 4px 4px 10px 3px rgba(90, 90, 88, 0.425);
}

.job-location{
    color: rgb(1, 122, 106);
    padding: 0.5em;
}


@media(max-width:500px){
    .Experience-table{
        width: 100vw;
    }
    .Company-logo{
        width: 25vw;
        align-items: baseline;
    }
    .job-description{
        min-width: 60vw;
        font-size: 1em;
    }
    table{
        margin: 10px !important;
    }

}

@media(max-width:1500px){
    .Experience-table{
        width: 50vw;
    }
}