.Projects-list{
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.Projects-title{
    font-size: 2em;
    font-weight: bolder;
    color: rgb(245, 116, 116);
    background-color: lightgoldenrodyellow;
    padding: 1em 0;
    margin: 2vh 0 0 0;
}

.Project{
    /* background-color: rgb(146, 91, 91); */
    height: 70vh;
    min-height: fit-content;
    margin: 2vh 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    /* align-content: space-around; */
}
.project1{
    background-color: rgb(220, 251, 255);
}
.project2{
    background-color: rgb(255, 236, 220);
}
.project3{
    background-color: rgba(255, 220, 239, 0.89);
}
.project4{
    background-color: rgb(221, 255, 220);
}
.Margin-left{
    margin-left: 10vw;
}

.Margin-right{
    margin-right: 10vw;
}

.Project-logo{
    border-radius: 10vh;
    filter:blur(100px);
    transform: rotateY(30deg) rotateZ(-30deg) translate3d(-10px, 0px, 7px);
    box-shadow: -10px 30px 15px 5px rgba(0,0,0,0.5);
    transition: all .4s;
    transform-style: preserve-3d;
}

  .Project-logo:hover {
    transform: rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
  }

.Project-title{
    font-size: 2.5em;
    font-weight: bolder;
}

.Project-description{
    font-size: 1.5em;
    text-align: left;
}

.Project-button{
    outline: none !important;
    font-size: 1em;
    padding:1em 1.5em;
    border-radius: 30px;
    margin: 0 1em 0 0;
    cursor: pointer;
    border: none;
    color: antiquewhite;
    background-color: rgb(190, 140, 3);
}

.Access1{
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 53);
}
.Source1{
    color: rgb(255, 255, 255);
    background-color: rgb(4, 85, 151);
}

.project-2-button{
    color: rgb(255, 255, 255);
    background-color: rgb(168, 130, 4);
}
.Access3{
    color: rgb(5, 5, 5);
    background-color: rgb(248, 248, 248);
}
.project-3-button{
    color: rgb(255, 255, 255);
    background-color: rgb(197, 25, 68);
}

.hide{
    display: none;
}

.left-in{
    animation: left-in 0.5s ease-in forwards ;
    transform: translateX(-30%);
    opacity: 0;
}

.scale-in{
    animation: scale-in 400ms ease-in-out forwards;
    opacity: 0;
}

.right-in{
    animation: right-in 0.5s ease-in forwards ;
    transform: translateX(+30%);
    opacity: 0;
}

@keyframes left-in{
    0%{
        transform: translateX(-30%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 100;
    }
}
@keyframes right-in{
    0%{
        transform: translateX(+30%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 100;
    }
}

@keyframes scale-in{
    0%{
      transform: scale(0.6);  
      opacity: 0;
    }
    90%{
      transform: scale(1.1); 
    }
    100%{
      transform: scale(1);  
      opacity: 1;
      filter:blur(0px)
    }
  }
  @-moz-document url-prefix() {
    .Project-logo{
        filter:blur(0px);
    }
  }  

@media (max-width:500px){
    .Projects-list{
        display: flex;
        flex-direction: column;
    }

    .Project{
        height: 65vh;
        min-height: max-content;
        margin: 2vh 0 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
    }
    .Project-logo{
        border-radius: 35px;
        box-shadow: -5px 10px 10px 5px rgba(0,0,0,0.5);
    }
    
    .Project-title{
        font-size: 2em;
        font-weight: bolder;
    }
    
    .Project-description{
        font-size: 1em;
        max-width: 90vw;
    }
    .Margin-left{
        margin-left: 0vw;
    }
    
    .Margin-right{
        margin-right: 0vw;
    }
}

/* Iphone x */


/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .Project-title{
        font-size: 1em;
        font-weight: bolder;
    }
    
    .Project-description{
        font-size: 0.8em;
        max-width: 50vw;
    }

    #Skills p{
        opacity: 1;
    }

}

/* Potrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .Project-logo{
        /* display: none !important; */
        width: 45vw !important;
        border-radius: 60px ;
        box-shadow: -5px 10px 10px 5px rgba(0,0,0,0.5);
    }

}


/* iPad  */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .Project-title{
        font-size: 1.5em;
        font-weight: bolder;
    }
    .Project-description{
        font-size: 1.2em;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .Project-logo{
        width: 40vw;
        border-radius: 60px;
        box-shadow: -5px 10px 10px 5px rgba(0,0,0,0.5);
    }
}

/* Iphone 5 Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    
    .Project-title{
        font-size: 1em;
        font-weight: bolder;
    }
    .Project-description{
        font-size: 0.7em;
        max-width: 50vw;
    }
    .Project-logo{
        width: 20vw;
        border-radius: 20px;
        box-shadow: -5px 10px 10px 5px rgba(0,0,0,0.5);
    }
}
/* Iphone 5 portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    
    .Project-title{
        font-size: 1em;
        font-weight: bolder;
    }
    .Project-description{
        font-size: 1em;
        max-width: 80vw;
    }
    .Project-logo{
        width: 30vw;
        border-radius: 20px;
        box-shadow: -5px 10px 10px 5px rgba(0,0,0,0.5);
    }
}