.Navigator{
    margin-left: 5vw;
    background-color: rgb(23, 23, 24);
    width: fit-content;
    position: fixed;
    /* padding: 1em; */
    top: 20vw;
    border-radius: 1em !important;
    overflow: hidden;
    z-index: 700;
}

.Navigator nav{
    font-size: 1em;
    color: snow;
    font-weight: bolder;
    padding: 1em;
    margin: 0;
    cursor: pointer;
    overflow: visible;
    /* border: 1px solid white; */
}

.Navigator nav:hover{
    color: rgb(92, 92, 92);
    
}

.Active-button{
    background-color: olivedrab;
    /* padding: 3em !important; */
    /* overflow: hidden; */
}

@media (max-width:500px){
    .Navigator{
        display: none;
    }
    .Navigator nav{
        font-size: 0.5em;
        color: snow;
        font-weight: bolder;
        padding: 1em;
        margin: 0;
        cursor: pointer;
        overflow: visible;
        /* border: 1px solid white; */
    }
}

/* Iphone x */


/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .Navigator{
        display: none;
    }
  }

/* Iphone 5 Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .Navigator{
        display: none;
    }
}