.Navigator{
    margin-left: 5vw;
    background-color: rgb(23, 23, 24);
    width: fit-content;
    position: fixed;
    top: 20vw;
    border-radius: 1em !important;
    overflow: hidden;
    z-index: 700;
}

.Navigator nav{
    font-size: 1em;
    color: snow;
    font-weight: bolder;
    padding: 1em;
    margin: 0;
    cursor: pointer;
    overflow: visible;
}

.Navigator nav:hover{
    color: rgb(92, 92, 92);
    
}

.Active-button{
    background-color: olivedrab;
}

/* @media (max-width:1200px){
    .Navigator{
        display: none;
    }
} */
