.Education-block {
  min-height: 40vh;
  margin-top: 2vh;
  padding: 5vh 0;
  border-radius: 1em;
  /* display: flex;
    flex-direction: column; */
  font-size: 1em;
  /* background-color: rgb(219, 219, 219); */
  background-image: linear-gradient(
    109.6deg,
    rgba(5, 84, 94, 1) 16%,
    #bbb 91.1%
  );
  font-size: 1.2em;
  color: rgb(231, 231, 231);
  overflow: hidden;
}

.Background-blur{
    border-radius: 2em;
    margin-left: 25vw;
    margin-top: 5vh;
    width: 47vw;
    height: 80vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.68);
    backdrop-filter: saturate(180%) blur(10px);
    z-index: 0;
}
.Education-pic-details {
  display: flex;
  flex-direction: row;
  
}
.Education-title {
  z-index: 1;
  /* margin-top: 5vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Education-list {
    margin-top: 5vh;
  height: 80vh;
  margin-left: 26vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  position: absolute;
  overflow: scroll;
}

.Education-icon {
    z-index: 1;
  font-size: 1.2em;
  width: 60px;
}

.Education-picture {
  width: 80vw;
  height: 45em;
  border-radius: 2em 0 0 2em;
  margin-left: 12vw;
  margin-top: auto;
  object-fit: cover;
  transform: scale(1.5);
  /* animation: scale-in 1s forwards; */
  /* mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1)); */
  /* animation: size-decrease 1s forwards; */
}

.Degree {
    z-index: 1;
    width: 45vw;
  font-size: 1.2em;
  /* width: fit-content; */
  text-align: center;
  /* position: absolute; */
}

.College {
    z-index: 1;
    width: 45vw;
  font-size: 1em;
  color: rgb(209, 209, 209);
}

.Education-project {
  width: 45vw;
  /* position: absolute; */
  margin: auto;
}

.Education-project li {
  padding: 0.5em;
  font-style: normal;
}

@keyframes size-decrease {
  0% {
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1));
    transform: scale(1.5);
    /* filter: blur(10px); */
    
  }
  90% {
      
    
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.2));
    transform: scale(0.9);
  }
  100% {
    
    mask-image: linear-gradient(to right, rgba(0,0,0,1),rgba(0,0,0,1), rgba(0,0,0,0));
    transform: scale(1);
    /* filter: blur(0px); */
  }
}

@media (max-width: 500px) {
  .Education-project {
    width: 75vw;
  }
  .Education-picture {
      display: none;
  }
  .Education-list {
    margin-left: 10vw;
    position: relative;
  }
  .Background-blur{
    display: none;
 }
 .Degree {
    width: 75vw;
}

.College {
    width: 75vw;
}
  
}

/* Iphone x */

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .Education-project {
    width: 75vw;
    /* position: absolute; */
    margin: auto;
  }
  .Education-picture {
    display: none;
}
.Education-list {
    margin-left: 10vw;
    position: relative;
  }
.Background-blur{
   display: none;
}
.Degree {
    width: 75vw;
}

.College {
    width: 75vw;
}
}

/* Iphone 5 Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .Education-project {
    width: 75vw;
    /* position: absolute; */
    margin: auto;
  }
  .Education-picture {
    display: none;
}
.Education-list {
    position: relative;
  }
  .Background-blur{
    display: none;
 }
 .Degree {
    width: 75vw;
}

.College {
    width: 75vw;
}
}
