.Education-block{
    min-height: 40vh;
    margin-top: 2vh;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    /* background-color: rgb(219, 219, 219); */
    background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
    color: rgb(253, 253, 253) ;
}
.Education-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Education-icon{
    font-size: 1.2em;
    width: 60px;
}

.Degree{
    font-size: 1.2em;
    /* width: fit-content; */
    text-align: center;
}

.College{
    font-size: 1em;
    color: rgb(209, 209, 209);
}

.Education-project{
    width: 35vw;
    /* position: absolute; */
    margin: auto;
}

.Education-project li{
    padding: 0.5em;
    font-style: normal;
}

@media(max-width:500px){
    .Education-project{
        width: 75vw;
    }
}

/* Iphone x */


/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .Education-project{
        width: 75vw;
        /* position: absolute; */
        margin: auto;
    }
  }

/* Iphone 5 Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  
    .Education-project{
        width: 75vw;
        /* position: absolute; */
        margin: auto;
    }

}
