.Contact_form{
    min-height: fit-content;
    /* height: 80vh; */
    background-color: rgba(13, 13, 53, 0.808);
    margin: 2vh 0 0 0;
    color: rgb(235, 235, 220);
    padding-bottom:10vh;
    border-radius: 1em;
}
.Mail-icon, .Linkedin-small-icon{
    width: 60px;
    border-radius: 0.6em;
    cursor: pointer;
}

.Contact-option a{
    color: white;
    text-decoration: none !important;
    outline: none !important;
    padding: 1em;
}
.Contact-option{
    z-index: 100;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: opacity 0.3s ease-in;
}

.Contact-option:hover{
    opacity: 1;
}

.Form{
    background-color: rgba(70, 35, 126, 0.534);
    margin: auto;
    width: fit-content;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 4px 4px 10px 3px rgb(8, 8, 8);
    transition: background-color 300ms ease-in-out,  box-shadow 300ms ease-in-out;
}

.Form:hover{
    background-color: rgb(19, 19, 19);
    box-shadow: 4px 4px 10px 3px rgb(0, 0, 0);
}

input,textarea{
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 1em;
    outline: none;
    background-color: rgb(209, 209, 209);
    font-family: 'Syne', sans-serif !important ;
}

textarea:focus,input:focus{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(19, 180, 32);
}

.Submit-button{
    font-size: 1em;
    padding: 0.5em;
    outline: none;
    border-radius: 1em;
    background-color: rgb(26, 32, 59);
    color: rgb(124, 124, 124);
    margin: 2vh 0 0 0;
}

.Submit-button:hover{
    background-color: rgb(51, 63, 117);
    color: rgb(248, 245, 245);
}

.error{
    color: rgb(245, 73, 42);
    margin: auto;
    width: fit-content;
    /* padding: 1em; */
    font-size: 1.2em;
}

@media(max-width:500px){
    .Form{
        width: 80vw;
    }

    textarea{
        width: 70%;
    }

    .Mail-icon, .Linkedin-small-icon{
        width: 30px;
        border-radius: 0.3em;
    }

    .Contact-option a{
        padding: 0.2em;
    }
}